body {
	margin: 0px;
	color:#ffffff;
}
.footer {
	border: 1px solid #CA9756;
	background-color: #602F0F;
	padding: 10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 9px;
	color: #E49749;
	text-align: left;
}
.SideNav {
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-align:left;
}
.SideNavSub {
	font-size: 11px;
	/*font-weight: bold;*/
	color: #333333;
	padding-left: 20px;
	text-align: left;
	vertical-align: middle;
	
}
.SideNavSubSub {
	font-size: 10px;
	/*font-weight: bold;*/
	color: #333333;
	/*background-image:  url(../../pages/SideNav_BG.jpg.html);*/
	padding-left: 30px;
	text-align: left;
	vertical-align: middle;
	/*
	border-top: 1px none #DCA457;
	border-right: 1px solid #DCA457;
	border-bottom: 1px solid #DCA457;
	border-left: 1px solid #DCA457;
	line-height: 15px;
	*/
}
.SideNavSubSubSub {
	font-size: 10px;
	/*font-weight: bold;*/
	color: #333333;
	/*background-image:  url(../../pages/SideNav_BG.jpg.html);*/
	padding-left:40px;
	text-align: left;
	vertical-align: middle;
	/*
	border-top: 1px none #DCA457;
	border-right: 1px solid #DCA457;
	border-bottom: 1px solid #DCA457;
	border-left: 1px solid #DCA457;
	line-height: 15px;
	*/
}
a.nav:link {
	color: #333333;
	text-decoration: none;
}
a.nav:visited {
	color: #333333;
	text-decoration: none;
}
a.nav:hover {
	color: #0033AA;
	text-decoration: none;
}
a.nav:active {
	color: #333333;
	text-decoration: none;
}
a.headline:link {
	color: #FF6600;
	text-decoration: none;
}
a.headline:visited {
	color: #333333;
	text-decoration: none;
}
a.headline:hover {
	color: #0033AA;
	text-decoration: underline;
}
a.headline:active {
	color: #333333;
	text-decoration: none;
}
a:link {
	color: #333333;
	
}
a:visited {
	color: #333333;
	
}

a:hover {
	color: #003399;
	
}
a:active {
	color: #333333;
	
}
ul
{
	margin-top:0px;
	padding-top:0px;	
}
td {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
	color: #000000;
	line-height: 20px;
}
.Compass {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 11px;
	padding-left: 10px;
	background-color: #AF7423;
	border-color:#FFFFFF;
	border:solid;
	border-width:1px;
}
a.Compass:link {
	color: #000000;
	text-decoration: none;
	border:none;
}
a.Compass:visited {
	color: #000000;
	text-decoration: none;
	border:none;
}

a.Compass:hover {
	color: #FCB131;
	text-decoration: none;
	border:none;
}
a.Compass:active {
	color: #000000;
	text-decoration: overline;
	border:none;
}
.Middle {
	text-align: center;
	vertical-align: middle;
}
h1 {
	color: #303030;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 26px;
	margin-bottom:0px;
	
}
h2 {
	color: #303030;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 22px;
	margin-bottom:0px;
	
}
h3 {
	color: #303030;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 20px;
	margin-bottom:4px;
	
}
h4 {
	color: #303030;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 16px;
	margin-bottom:4px;
	margin-top:8px;
}
h5 {
	color: #303030;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 13px;
	margin-bottom:0;
	margin-top:5px;
}

.SectionHdg {
	color: #303030;
	font-family: Tahoma, "Times New Roman", serif;
	font-size: 15px;
	font-weight: bold;
}
.Col1 {
	background-color: #9F4401;
}
.Col2 {
	background-color: #FF9900;
}
.Subhead {
	font-weight: bold;
	color: #303030;
	font-size: 14px;
}
hr {
	color: #996600;
	height: 1px;
}
form {
	margin: 0px;
}
.Quote {
	font-weight: bold;
	color: #EBD9BA;
	font-size: 12px;
	padding: 5px;
	font-style: italic;
}
.Border {
	border: 1px solid #000000;
}
h6 {
	font-size: 18px;
	font-weight: bold;
	color: #993300;
}
.Border {
	border: 1px solid #000000;
}
.quote 
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color:#336600;
	font-size:11px;	
}
.SideNavHdg {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background-image:  url(../../pages/SideNav_BG.jpg.html);
	height: 24px;
	text-align: center;
	vertical-align: middle;
	border-top: 2px solid #FCB131;
	border-right: 1px solid #FCB131;
	border-bottom: 2px solid #FCB131;
	border-left: 1px solid #FCB131;
	line-height: 15px;
}
.highlight
{
	font-family: Times New Roman, Verdana, Arial, sans-serif;
	font-size: 18px;
	
}
a.highlight:link 
{
	font-size:14px;
	color: #333333;
	font-weight:bold;
	text-decoration: none;
}
a.highlight:visited 
{
	font-size:14px;
	font-weight:bold;
	color: #333333;
	text-decoration: none;
}
a.highlight:hover 
{
	font-size:14px;
	font-weight:bold;
	color: #FCB131;
	text-decoration: none;
}
a.highlight:active 
{
	font-size:14px;
	font-weight:bold;
	color: #333333;
	text-decoration: none;
}
td.box1grey {
	background-color: #FFFFEE;
	text-align: left;
	margin:0px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C9D0E8;
	border-right-color: #C9D0E8;
	border-bottom-color: #7282BB;
	border-left-color: #7282BB;
}
.newshighlight
{
	color:#FF0000;
	font-size:12px;
	font-weight:bold;
}
/*
     FILE ARCHIVED ON 23:42:18 Jan 03, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:29:27 Mar 23, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 25.417 (3)
  captures_list: 239.138
  load_resource: 162.122
  PetaboxLoader3.resolve: 110.214
  exclusion.robots.policy: 0.204
  PetaboxLoader3.datanode: 178.638 (4)
  LoadShardBlock: 206.139 (3)
  exclusion.robots: 0.219
  RedisCDXSource: 2.681
  esindex: 0.015
*/