.photos IMG {
	PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM-STYLE: none
}
.photo {
	FLOAT: left; MARGIN: 3px
}
.photos A {
	BORDER-BOTTOM-STYLE: none
}

/*
     FILE ARCHIVED ON 06:31:51 Jun 13, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:28:46 Mar 13, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  load_resource: 113.362
  RedisCDXSource: 0.589
  exclusion.robots: 0.176
  LoadShardBlock: 191.704 (3)
  PetaboxLoader3.resolve: 113.766 (2)
  exclusion.robots.policy: 0.166
  PetaboxLoader3.datanode: 101.131 (4)
  esindex: 0.01
  captures_list: 226.448
  CDXLines.iter: 29.17 (3)
*/