/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */




/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}
@font-face {
    font-family:OpenSansReg;
    src: url(../../fonts/20150122182512im_/OpenSans-Regular.ttf);
}
@font-face {
    font-family:OpenSansLight;
    src: url(../../fonts/20150122192816im_/OpenSans-Light.ttf);
}
@font-face {
    font-family:RuzikaFreeHand;
    src: url(../../fonts/20150122194404im_/ruzicka-freehand-lh-roman.ttf);
}
@font-face {
    font-family:OpenSansSemibold;
    src: url(../../fonts/20150122182936im_/OpenSans-Semibold.ttf);
}
.banner_left{ background-color:#d5eef6; width:100%; padding: 10px;}
.banner_left_content1{ font-family:OpenSansReg; float:left; color:#d94103; font-size:15px; text-align: left;}
.banner_left_content1 a{font-family:OpenSansReg;  color:#d94103; font-size:15px; text-decoration:none;}
.banner_left_content1 a:hover{font-family:OpenSansReg;  color:#d94103; font-size:15px; text-decoration:underline;}
.banner_left_content2{font-family:OpenSansLight; color:#d94103; font-size:48px; line-height: 57px; padding-top:10px;}
.comment_sec{ text-align:center; font-family:RuzikaFreeHand; font-size:48px; line-height:50px; color:#d94103; padding-top: 20px;}
.comment_sec_auth{ float:right;font-family:RuzikaFreeHand; font-size:39px; color:#d94103; padding-top: 20px; padding-bottom:10px;}
.sadhanas{ width:100%; background-color:#eeebe8; border-radius:5px; color:#865d4d; padding:10px; font-size:23px; font-family:OpenSansLight;}
.cate_title1{font-family:OpenSansReg; color:#785aa1; font-size:29px; padding-bottom:20px;}
.cate_title1 a{font-family:OpenSansReg; color:#785aa1; font-size:29px;}
.cate_title2{font-family:OpenSansReg; color:#42b7d2; font-size:29px; padding-bottom:20px;}
.cate_title2 a{font-family:OpenSansReg; color:#42b7d2; font-size:29px;}
.cate_title3{font-family:OpenSansReg; color:#73a036; font-size:29px; padding-bottom:20px;}
.cate_title3 a{font-family:OpenSansReg; color:#73a036; font-size:29px;}
.cate_title4{font-family:OpenSansReg; color:#f37328; font-size:29px; padding-bottom:20px;}
.cate_title4 a{font-family:OpenSansReg; color:#f37328; font-size:29px;}
.cate_title5{font-family:OpenSansReg; color:#004029; font-size:29px; padding-bottom:20px;}
.cate_title5 a{font-family:OpenSansReg; color:#004029; font-size:29px;}
.cate_title6{font-family:OpenSansReg; color:#870f0f; font-size:29px; padding-bottom:20px;}
.cate_title6 a{font-family:OpenSansReg; color:#870f0f; font-size:29px;}
.cate_desc{ font-family:OpenSansLight; color:#865d4d; font-size:24px; line-height: 27px;}
.testimonials_desc{ font-family:OpenSansLight; color:#d94103; font-size:20px; line-height: 27px;}
.testimonials_descp{ font-family:OpenSansLight; color:#865d4d; font-size:18px; line-height: 27px;}
.testimonials_desc_comt{ font-family:RuzikaFreeHand; color:#d94103; font-size:32px; padding-top:10px;}
.testimonials_desc_img{width: 20.5%; float:left; padding-top:10px;}
.testimonials_desc_all{margin-left: 3%; width: 73.5%; float:left; padding-top:10px;}
.feature_articals{ width:16.5%; padding:5px; float:left;}
.feature_articals_img{}
.feature_articals_desc{ font-family:OpenSansLight; color:#865d4d; font-size:18px; line-height25px;}
.feature_event{ width:33%; float:left; padding:5px;}
.feature_event_img{}
.feature_event_desc{font-family:OpenSansLight; color:#865d4d; font-size:18px; line-height:25px;}
.feature_event_desc_cmt{font-family:OpenSansSemibold; color:#865d4d; font-size:12px; line-height:25px;}




.footer_top{ width:100%; /*padding:10px;*/ background-color:#e5dcd8; min-height: 40px;}
.footer_top_title{ width:23%; float:left; font-family:RuzikaFreeHand; font-size:34px; color:#4b1600; padding-left:10px;}
.footer_social{ width:20%; float:left; margin-top: 10px;}
.footer_social ul{ margin:0; padding:0;}
.footer_social ul li{ list-style:none; display:inline; padding-left:10px;}
.footer_bottom{ width:100%; background-color:#8e6859;/* min-height:450px;*/ padding:15px; overflow:hidden;}
.footer_bottom_box{ width:18.5%; float:left; padding:10px;}
.footer_bottom_title{ font-family:OpenSansLight; color:#150800; font-size:18px; padding-top:10px; text-transform:uppercase;}
.footer_bottom_lebel{ font-family:OpenSansReg; color:#150800; font-size:14px; /*padding-bottom:20px;*/}
.footer_bottom_input{}
.f_box{ width:80%; border-radius:5px;}
.footer_bottom_desc{ width:98%;}
.footer_bottom_desc ul{ padding:0; margin:0;}
.footer_bottom_desc ul li{font-family:OpenSansLight; color:#150800; font-size:12px; padding-top:8px; list-style:none;}
.footer_bottom_desc ul li a{font-family:OpenSansLight; color:#150800; font-size:12px;}
.footer_bottom_desc ul li a:hover{ font-family:OpenSansLight; color:#fff; font-size:12px;}
.log_in{ width:80px; color:#FFFFFF; border:none; background-color:#f37328; font-family:OpenSansSemibold; font-size:14px; padding-top:10px;}
.log_in_butt{ float:right;}
.footer_logo{ float:right; padding-top: 60px;}
#socket .copyright{ font-family:OpenSansLight; color:#8e6859; font-size:12px;}
.header_top{ background-color:#d94103; font-family:OpenSansReg; color:#150800; font-size:18px; text-align:center; color:#FFFFFF; padding: 10px; display:none;}
.header_signevnt{ background-color:#eeebe8; width:100%; min-height:50px; padding:10px; clear:both; margin-bottom:10px;}
.header_event{ float:left;}
.header_event_cal{ float:left;}
.header_event_menu2 { display:none;}
.header_event_menu{ float:left; padding-left:10px;}
.header_event_menu ul{ padding:0; margin:0;}
.header_event_menu ul li{ list-style:none; display:inline; font-family:OpenSansReg; color:#865d4d; font-size:14px;}
.header_event_menu ul li a{font-family:OpenSansReg; color:#865d4d; font-size:14px;}
.header_event_menu ul li a:hover { font-family:OpenSansReg; color:#000; font-size:14px;}
.header_signup{ float:right;}
.header_signup ul{ padding:0; margin:0;}
.header_signup ul li{list-style:none; display:inline; font-family:OpenSansReg; color:#865d4d; font-size:14px;}
.header_signup ul li a{font-family:OpenSansReg; color:#865d4d; font-size:14px;}
.header_signup ul li a:hover{font-family:OpenSansReg; color:#000; font-size:14px;}
.logo_and_search{ width:100%; margin-bottom:10px; min-height:100px;}
.logo_and{float:left;}
.and_search{ float:right;padding-top: 20px; z-index: 9999;}
.search_box{ padding:10px; float:left}
.s_box{ width:20%; font-family:OpenSansReg; color:#865d4d; font-size:14px; background-color:#f7f7f7; border-radius:10px;}
.search_img{ width:10%; float:left; padding-top: 12px;}
.menu_bar_static{ padding:10px; background-color:#eeebe8; min-height:50px; border-radius:5px; margin-top:20px;}
.menu_bar_home{ float:left; width:5%;}
.menu_bar_all{ float:left; padding-top: 10px;}
.menu_bar_all ul{ padding:0; margin:0; padding-top: 5px;}
.menu_bar_all ul li{font-family:OpenSansReg; color:#000; font-size:14px; list-style:none; display:inline; padding-left: 45px; text-transform: uppercase;}
.menu_bar_all ul li a{font-family:OpenSansReg; color:#000; font-size:14px; text-decoration:none;}
.menu_bar_all ul li a:hover{ font-family:OpenSansReg; color:#000; font-size:14px;}
.feature_video{  width:33%; float:left; padding:5px;}
.feature_video_title{ font-family:OpenSansLight; color:#865d4d; font-size:24px; line-height:25px;}
.calendar45 {
width: 45px;
margin-top:-40px;
z-index:999;
position:relative;
}
.calendar2 {
width: 45px;
}
.cal-month {
font-size: 0.75em;
line-height: 1.5em;
display: block;
background-color: #364352;
text-transform: uppercase;
color: white;
text-align: center;
}
.cal-day {
font-size: 1.5em;
line-height: 1.16667em;
display: block;
background-color: #ccc2b9;
color: #364352;
text-align: center;
}
.community_header{font-family:OpenSansLight; font-size:18px; color:#150800; padding-bottom:4px;}
.community_subheader{font-family:OpenSansLight; font-size:14px; color:#150800; text-decoration:underline; padding-bottom:3px;}
.community_sub{font-family:OpenSansLight; font-size:12px; color:#150800;}

/*.............................menu edited.....................*/
.html_header_top.html_header_sticky #header{ position:absolute; margin-top:-40px; }
.avia-menu{ margin-right:200px;}
.logo{ display:none;}
.title_container{margin: 0;
font-size: 36px;
position: relative;
z-index: 2;
min-height: 36px;
line-height: 2.3em;
top: 0;
font-weight: 400;
padding-top: 20px;} 
.image-overlay{position: absolute;
/* background: #fff; */
z-index: 500;}
.av-main-nav > li{
line-height: 30px;
padding-left: 20px;
font-family:OpenSansReg;
font-size:16px;
color:#f37328;
}
.header_color .sub_menu>ul>li>a, .header_color .sub_menu>div>ul>li>a, .header_color .main_menu ul:first-child > li > a, #top .header_color .main_menu .menu ul .current_page_item > a, #top .header_color .main_menu .menu ul .current-menu-item > a, #top .header_color .sub_menu li ul a{ color:#f37328; font-size:16px;}


@media (max-width:767px){
.header_event_menu{ display:none;}
.header_event_menu2{ display:block;}
.header_event_menu2 ul{ padding:0; margin:0;}
.header_event_menu2 ul li{ list-style:none; display:inline; font-family:OpenSansReg; color:#865d4d; font-size:10px;}
.header_event_menu2 ul li a{font-family:OpenSansReg; color:#865d4d; font-size:10px;}
.header_event_menu2 ul li a:hover { font-family:OpenSansReg; color:#000; font-size:10px;}
.feature_articals_desc{ display:none;}
.footer_top_title{ width:100%; font-family:RuzikaFreeHand; font-size:34px; color:#4b1600; padding-left:10px;}
.footer_social{ width:100%;  margin-top: 10px;}
.footer_social ul{ margin:0; padding:0;}
.footer_social ul li{ list-style:none; display:inline; padding-left:10px;}
.footer_bottom_box{ width:100%; padding:10px;}
.footer_bottom {
width: 100%;
background-color: #8e6859;
min-height: 1560px;
padding: 15px;
}
}
@media only screen(
    ((min-device-width : 768px) and (max-device-width : 1024px))) 
	 {

  

}

@media (min-width:768px)and (max-width : 1024px){

 .footer_top_title{ width:100%; font-family:RuzikaFreeHand; font-size:34px; color:#4b1600; padding-left:10px;}
.footer_social{ width:100%;  margin-top: 10px;}
.footer_social ul{ margin:0; padding:0;}
.footer_social ul li{ list-style:none; display:inline; padding-left:10px;}
.footer_bottom_box{ width:49%; padding:10px; float:left;}
.footer_bottom {
width: 100%;
background-color: #8e6859;
min-height: 1000px;
padding: 15px;
}
	
	
	}


/* Changes made by Surendra */

.and_search{ padding-top: 0px;}


/* menu----------- */
.html_header_top.html_header_sticky #header{ position:absolute; margin-top:-120px; width: 0%;}
.avia-menu{ margin-right:10px;}
.av-main-nav > li { padding-left: 10px; }
.content, .sidebar { padding-top: 0px; }


/* Changes made by Surendra */

.and_search{ padding-top: 0px;}


/* menu----------- */
.html_header_top.html_header_sticky #header{ position:absolute; margin-top:-120px; width: 0%;}
.avia-menu{ margin-right:10px;}
.av-main-nav > li { padding-left: 10px; }
.content, .sidebar { padding-top: 0px; }

.container {
 padding-right: 15px;}

.download_form { background-color: #ff0000; }

.infusion-field-container{
margin-top:130px; }
.infusion-field-input-container{ margin-bottom: 5px;}
.infusion-field { float:right; padding:0; width: 180px;}

.infusion-form { background: url(../../images/20150122192115im_/optin-banner-LONG_No-name-No-banner.jpg);
  width:345px;
height:418px;
 }

.infusion-submit { float:right; margin-top: -20px;}
/* used to decrease the size of font of the homepage cat_desc. */
.cate_desc {
font-size: 20px;
line-height: 23px;
/*
     FILE ARCHIVED ON 02:47:30 Dec 23, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:20:07 Mar 22, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 133.081
  exclusion.robots: 0.113
  exclusion.robots.policy: 0.104
  RedisCDXSource: 8.062
  esindex: 0.015
  LoadShardBlock: 98.895 (3)
  PetaboxLoader3.datanode: 108.266 (4)
  CDXLines.iter: 22.033 (3)
  load_resource: 99.649
  PetaboxLoader3.resolve: 28.783
*/