a:link, a:active, a:visited {
	font-family: Tahoma, Arial;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
a:hover {
	font-family: Tahoma, Arial;
	color: #FFFFFF;
	text-decoration: underline;
	font-size: 11px;
	font-weight: normal;
}
.black {
	color: #000000;
}

a.link:link, a.link:active, a.link:visited {
	font-family: Tahoma, Arial;
	color: #617B80;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.link:hover {
	font-family: Tahoma, Arial;
	color: #617B80;
	text-decoration: underline;
	font-size: 10px;
	font-weight: normal;
}
BODY {
	font-weight: normal;
	background-color: #FFFFFF;

}
TD {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #4D4D4D;
}
.px10 {
	font-size: 10px;
}

.underline {
	text-decoration: underline;
}

.uppercase {
	text-transform: uppercase;
}
.white {
	color: #FFFFFF;
}
.blue {
	color: #4C6378;
}
.red {
	color: #C5150C;
}
.px11 {
	font-size: 11px;
}
.px12 {
	font-size: 12px;
}
.grey {
	color: #C0C0C0;
}
.green {
	color: #6CAC10;
}
.orange {
	color: #F76400;
}
.yellow {
	color: #FFB200;
}

/*
     FILE ARCHIVED ON 06:15:33 Jul 08, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:24 Mar 19, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 881.196
  PetaboxLoader3.datanode: 776.804 (4)
  LoadShardBlock: 826.865 (3)
  RedisCDXSource: 22.937
  PetaboxLoader3.resolve: 77.903
  CDXLines.iter: 25.715 (3)
  exclusion.robots: 0.287
  exclusion.robots.policy: 0.267
  load_resource: 208.13
  esindex: 0.015
*/